*{ background-color: #1f2937;
    color: #f9faf8;
    font-family: Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1{
    font-size: 40px;
}

a{
    text-decoration: none;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 14px;
    margin: 0;
    padding: 0;

}

li {
    padding: 0;
    margin: 0;
}

.header ,
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
}
.header{
    border-bottom: 1px solid gray;
}

.awesome{
    font-size: 48px;
    flex-wrap: wrap;
    width: 400px;
    font-weight: 800;


}
.awesometext{
    font-size: 18px;
    color: #e5e7eb;
}

.hero
{   display: flex;
    height: 400px;
    width: auto;
    padding: 10px 100px;


}

.herobutton{
    background-color: #3882f6;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 12px;
    font-weight: bold;
}

.borgar{
    height: 399px;

}
.heroleft{
    display: flex;
    flex:1;
    justify-content: center;
}

.heroimg{
    display: flex;
    flex: 1;
}

.heroleftside{
    display: flex;
    flex-direction: column;
    padding:50px 20px;
    flex-wrap: wrap;
    width: 500px;

}

.footer{
    margin-top: auto;
}

.information{
    display: flex;
    height: 500px;
    background-color: white;
    padding: 10px 100px;
}

.quote{
    display: flex;
    height: 400px;
    background-color: #e5e7eb;
    padding: 10px 100px;
}

.action{
    display: flex;
    height: 400px;
    background-color: white;
    padding: 10px 100px;
}


