*{  background-color: #1f2937;
    color: #f9faf8;
    font-family: Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
h1{
    font-size: 40px;
}
a{
    text-decoration: none;
    font-size: 18px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 14px;
    margin: 0;
    padding: 0;
}
li {
    padding: 0;
    margin: 0;
}
.header ,
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
}
.header{
    border-bottom: 1px solid gray;
}
.awesome{
    font-size: 48px;
    flex-wrap: wrap;
    width: 400px;
    font-weight: 800;
}
.awesometext{
    font-size: 18px;
    color: #e5e7eb;
}
.hero
{   display: flex;
    height: 400px;
    width: auto;
    padding: 10px 100px;
}
.herobutton{
    background-color: #3882f6;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 12px;
    font-weight: bold;
}
.borgar{
    height: 399px;
}
.heroleft{
    display: flex;
    flex:1;
    justify-content: center;
}
.heroimg{
    display: flex;
    flex: 1;
}
.heroleftside{
    display: flex;
    flex-direction: column;
    padding:50px 20px;
    flex-wrap: wrap;
    width: 500px;
}
.footer{
    margin-top: auto;
}
.information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    background-color: white;
    padding: 10px 100px;
}
.infoheader{
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 40px;
}
.infocontent{
    display: flex;
    flex: 1;
    height: 500px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}
.info1,
.info2,
.info3,
.info4{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    background-color: white;
    border: solid #3882f6;
    border-radius: 12px;
    justify-content: center;
}
.placeholder{
    width: 500px;
    height: 350px;
}
.ptext{
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 100;
}
.quote{
    display: flex;
    height: 400px;
    background-color: #e5e7eb;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
}
.quote,
.quotecontainer,
.quotetext,
.author{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size:42px;
    font-style: italic;
    text-align: center;
}
.author{
    font-weight: bold;
    font-style: normal;
    display: flex;
    justify-content: flex-end;
}
.quotecontainer{
    display: flex;
    flex-direction: column;
    width: 1400px;
    padding: 0;
}
.action{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    background-color: white;
}
.action,
.cta,
.ctatext,
.ctabold,
.signup{
    color: white;

}
.cta,
.ctatext,
.ctabold,
.signup{
    background: #3882f6;
}
.cta{
    display: flex;
    width: 1200px;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}
.ctabold{
    font-size: 36px;
}
.ctatext{
    display: flex;
    flex-direction: column;
}
.signup{
    color: #e5e7eb;
    font-size: 16px;
}
.ctabutton{
    display: flex;
    padding: 12px 42px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
}
.ctabutton:hover{
    background-color: #4488f5;
    border: 2px solid rgb(243, 242, 242);
}
.ctabutton:active{
    background-color: #3882f6;
    border: 2px solid white;
}


